.cer-div{
    background-image: url("https://img.freepik.com/free-photo/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-63644.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.common-div{

    border-radius: 25px;
    font-style: italic;
    border-top: blue solid 2px;
    border-bottom: blue solid 2px;
    border-left: black solid 2px;
    border-right: black solid 2px;
}